/*
	Codo Player 'hdtoggle' plugin stylesheet
	Copyright (C) 2012-2013 Donato Software House
*/

.codo-player-controls-hd-button {
	position: relative;
	float: right;
	margin: 8px 5px;
	cursor: pointer;
}