footer {
    color: white;
    font-weight: lighter;
    background: #304269;

    input, select, textarea, button {
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
        outline: 1px solid #333;
    }
    a {
        @include transition(color, 500ms, ease);
        color: white;
        text-decoration: none;
        &:hover {
            color: #999;
            text-decoration: none;
        }
    }
    .top {
        padding-top: 50px;
        padding-bottom: 50px;
        h2 {
            margin: 0 0 20px 0;
            line-height: normal;
        }
        hr {
            margin: 15px 0 25px;
        }
    }
    form {
        .output {
            margin-left: 20px;
        }
    }
    .links {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .follow {
        @include fontSize(8);
        list-style: none;
        margin: 20px 0 0;
        padding: 0;
        li {
            margin: 0 0 40px 0;
        }
    }

    .bottom {
        @include fontSize(1.4);
        color: #999;
        line-height: 50px;
        background: #333;
        p {
            margin: 0;
        }
        a {
            color: #999;
                &:hover {
                color: #ccc;
            }
        }
    }
}