html {
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    @include fontSize(1.6);
    line-height: 200%;
    font-weight: 200;
    letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 200%;
    font-weight: normal;
}

a {
    font-weight: normal;
}

.input-group-addon {

}

*:not(.codo-player-controls-volume-handle) {
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

input, select, textarea, button, .btn {
    font-weight: 200;
    letter-spacing: 2px;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
    pre {
        margin-left: 0!important;
    }
}

pre {
    line-height: 200%;
    letter-spacing: 0;
    @include fontSize(1.5);
}

pre.prettyprint {
    width: auto;
    margin: 0;
}

.btn {
    span {
        @include fontSize(1.6);
    }
}

.panel {

    .panel-body {
        padding: 10px 0;

        pre {
            border: 0;
        }
    }
}

.content-title {
    background: #91bed4;
    color: white;
    h1 {
        margin: 0 20px 0 0;
        float: left;
        @include fontSize(3);
        font-weight: 200;
        text-transform: uppercase;
    }
    h2 {
        @include fontSize(3);
        margin: 0;
        float: left;
        font-weight: lighter;
        font-style: italic;
    }
}

.content-1 {
    background: white;
}

.content-2 {
    background: #d9e8f5;
}

.content-3 {
    background: #91bed4;
}

.content-1, .content-2, .content-3 {
    padding: 50px 0;
    h3 {
        margin-top: 50px;
    }
    h4 {
        margin-top: 25px;
    }
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.code-block {
    margin: 30px 0 0;

    .msg {

        i {
            @include fontSize(3);
            top: 9px;
            margin: 0 10px 0;
        }
    }
}

.shadow {
    -moz-box-shadow: 1px 1px 50px black;
    -webkit-box-shadow: 1px 1px 50px black;
    box-shadow: 1px 1px 50px black;
}

/*.codo-player {
    @extend .shadow;
}*/


hr {
    margin: 25px 0;
}