header {
    line-height: 100px;
    font-weight: 200;
    background: #333;

    .logo {
        @extend %logo;
        width: 229px;
        height: 40px;
        display: block;
        margin: 30px auto;
    }

    nav {
        display: flex;
        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: auto;

            li {
                width: 20%;
                float: left;

                a {
                    margin-top: -1px;
                    display: block;
                    color: #999;
                    @include transition(color, 500ms, ease);
                    font-weight: 100;
                    &:hover {
                        color: #ccc;
                        text-decoration: none;
                    }
                }
            }
            li.active {
                a {
                    color: white;
                }
            }
        }
    }
    .action {
        min-width: 231px;
    }
    .btn {
        margin-top: -4px;
    }
}