@mixin fontFace($family, $src) {
    @font-face {
        font-family: "eyetype_1regular";
        src: url('#{$src}#{$family}-webfont.eot'); // IE9 compat
        src: url('#{$src}#{$family}-webfont.eot?#iefix') format('embedded-opentype'), // IE8 and below
            url('#{$src}#{$family}-webfont.woff') format('woff'), // standards
            url('#{$src}#{$family}-webfont.ttf') format('truetype'), // Safari, Android, iOS
            url('#{$src}#{$family}-webfont.svg##{$family}') format('svg'); // legacy iOS

        font-style: normal;
        font-weight: normal;
    }
}

@mixin fontSize($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

@mixin rotate($degrees) {
    -moz-transform: rotate(#{$degrees});
    -o-transform: rotate(#{$degrees});
    -webkit-transform: rotate(#{$degrees});
    -ms-transform: rotate(#{$degrees});
    transform: rotate(#{$degrees});

    // Convert from radians to degrees
    $pi: 3.1415926535897;
    $radians: $degrees * $pi / 180;
    $x: $radians;

    filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=#{cos($x)}, M12=#{-1*sin($x)},M21=#{sin($x)}, M22=#{cos($x)}, sizingMethod='auto expand');
      zoom: 1;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}