/*
	Codo Player 'dock' plugin stylesheet
	Copyright (C) 2012-2013 Donato Software House
*/

.codo-player-dockable {
	position: fixed!important;
	top: 20px;
	right: 20px;
	width: 400px!important;
	height: 225px!important;
	z-index: 999999!important;
}