.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro {
    position: relative;
    width: 100%;
    overflow: hidden;

    .player {
        #player {
            position: relative;
            .test-tag {
                position: absolute;
                top: -50px;
                right: 0;
            }
            @media screen and (max-width: 995px) {
                .test-tag {
                    display: none;
                }
            }
        }

        .codo-player {
            margin: 0 auto;
        }
    }
    .title {
        margin: 40px 0;
        h1 {
            margin: 0;
            font-size: 250%;
            color: #333;
            text-shadow: 1px 1px 0 white!important;
            font-weight: 100;
        }
    }
    .el-icon-chevron-down {
        position: absolute;
        bottom: 20px;
        width: 100%;
        font-size: 30px;
        cursor: pointer;
    }
    .el-icon-chevron-down:hover {
        color: #666;
    }
    @media screen and (max-width: 995px) {
        .inner {
            margin-top: 20px!important;
        }
    }
}

.intro2 {
    .blockquote-box {
        span:before {
            font-size: 50px;
            line-height: 80px;
        }
        h4 {
            margin: 0;
        }
        p {
            margin: 0 20px 0 0;
        }
    }
    .first {
        border-color: #e6fa1f;
        .square {
            color: white;
            background: #e6fa1f;
        }
    }
}

.intro3 {
    .text-muted {
        color: white;
    }
}

.featurette {
    .image {
        font-size: 200px;
        margin: 0 20px;
        background: #d9e8f5;
        line-height: 100%;
        padding: 0 0 20px 0;
        color: white;
    }
}

.glyphicon-lg{font-size:3em}
.blockquote-box{border-right:5px solid #E6E6E6;margin: 40px 0}
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}