/*
	Codo Player 'captions' plugin stylesheet
	Copyright (C) 2012-2013 Donato Software House Limited
*/

::cue {
  color: #fff;
  background: black;
  font: 20px Arial;
}
::cue .warning {
  color: red;
  font: bold;
}