.free {
    border: 1px solid #eee;
    background-color: #fcfcfc;
    text-align: center;
    margin: 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-right: -1px;
}

.pro {
    border: 1px solid #ddd;
    background-color: #fff;
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;

    img.great-support {
        position: absolute;
        top: -40px;
        right: -40px;
    }
}

.vast {
    border: 1px solid #eee;
    background-color: #fcfcfc;
    margin: 20px 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left: -1px;
}

.free, .pro, .vast {
    padding-top: 20px;
    h3 {
        margin: 0;
    }
    .price {
        font-size: 80px;
        line-height: 80px;
        margin: 10px 0;
    }
}

.free, .vast {
    .price {
        font-size: 50px;
        line-height: 50px;
        margin: 10px 0;
    }
}

.codo-player {
    margin: 25px auto;
}