/*
	Codo Player 'xl' stylesheet
	Copyright (C) 2012-2013 Donato Software House
*/

.codo-player {
	visibility: visible!important; /* system specific - do not remove this line! */
	font: 12px Arial; 
	color: white;
}

.codo-player-container {
	background: black;
}

.codo-player-controls-wrap {
	position: absolute; 
	bottom: 0px; 
	left: 0px; 
	width: 100%; 
	height: 54px; 
	text-shadow: 0 1px 1px #000; 
	letter-spacing: 2px;
}

.codo-player-controls-shade {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.3; 
	filter: alpha(opacity=30);
	background: #000;
}

.codo-player-controls {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.codo-player-controls-play-button {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	border: 0;
	background: url("images/sprite.png") 100px 0;
}

.codo-player-controls-pause-button {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	border: 0;
	background: url("images/sprite.png") 100px 50px;
}

.codo-player-controls-title-text {
	position: relative;
	float: left;
	margin: 17px 10px;
}

.codo-player-controls-time-text {
	position: relative;
	float: right;
	margin: 17px 10px;
}

.codo-player-controls-seek-wrap {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 4px;
	width: 100%;
	background: #454545;
}

.codo-player-controls-seek-buffer {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 4px;
	background: #666;
}

.codo-player-controls-seek-progress {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 4px;
	background: red;
}

.codo-player-controls-seek-button {
	top: -2px!important;
	height: 10px!important;
}

.codo-player-controls-volume-wrap-horizontal {
	position: relative;
	float: right;
	width: 30px;
	height: 5px;
	margin: 21px 10px;
	background: #666;
	border: 1px solid #454545;
}

.codo-player-controls-volume-slider-horizontal {
	background: #ddd;
	height: 100%;
}

.codo-player-controls-volume-wrap-vertical {
	position: relative;
	float: right;
	width: 5px;
	height: 28px;
	margin: 10px 10px;
	background: #666;
	border: 1px solid #454545;
}

.codo-player-controls-volume-slider-vertical {
	background: #ddd;
	width: 100%;
}

.codo-player-controls-fullscreen-enter-button {
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	border: 0;
	background: url("images/sprite.png") 50px 0;
}

.codo-player-controls-fullscreen-exit-button {
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	border: 0;
	background: url("images/sprite.png") 50px 50px;
}

.codo-player-cover-background {
	background: #171e14;
}

.codo-player-cover-play-button {
	position: absolute;
	width: 100px;
	height: 100px;
	background: url("images/sprite.png") 0 0;
}

.codo-player-error-wrap {
}

.codo-player-error-text {
	position: absolute; 
	bottom: 0; 
	right: 0; 
	margin: 5px; 
	text-shadow: none;
}

/* Playlist */

.codo-player-playlist-wrap {
	color: #454545;
	text-shadow: 0 1px 1px #fff; 
	letter-spacing: 1px;
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.codo-player-playlist-ul {
	padding: 0;
	margin: 0;
}

.codo-player-playlist-ul li {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	padding: 10px;
	border-top: 1px solid #ccc;
}

.codo-player-playlist-ul li span {
	margin: 0 10px;
}

.codo-player-playlist-currentClip {
	font-weight: bold;
}