.purchase-item {
    margin: 50px 0;
}

.paypal-form {
    margin: 40px 0 50px 0;
}

.domain-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 20px 0;
    }
}

.paypal-form {
    label.terms {
        margin-left: 15px;
        font-weight: normal;
    }
    img.pixel {
        position: absolute;
    }
    table {
        width: 90%;
    }
}