.purchase-item{margin:50px 0}.paypal-form{margin:40px 0 50px 0}.domain-list{list-style:none;margin:0;padding:0}.domain-list li{margin:20px 0}.paypal-form label.terms{margin-left:15px;font-weight:normal}.paypal-form img.pixel{position:absolute}.paypal-form table{width:90%}
