/*
    Codo Player Advertising Plugin stylesheet
    Copyright (C) Donato Software House
*/

.codo-player-ad-click-space {
    cursor: pointer;
}

.codo-player-ad-timer {
    margin: 10px;
    font-size: 12px;
    text-align: center;
}

.codo-player-ad-skip-btn {
    position: absolute;
    top: 40%;
    right: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    cursor: pointer;
}

.codo-player-ad-skip-btn:hover {
    background: rgba(255, 255, 255, .5);
}